In [1]:
import my_preprocessing
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('data/train2.csv', dtype={"district_id": "Int64", "city_id": "Int64", "id": "Int64", "is_business": "string", "region_id": "Int64", "price": "Int64", "created_at_first": "str",
"params": "str"}, engine="python", encoding="utf-8")

In [3]:
districts = pd.read_csv("data/districts.csv", dtype={'id': 'Int64'})

In [4]:
cities = pd.read_csv("data/cities.csv", dtype={'id': 'Int64'})

In [38]:
test = pd.read_csv('data/test2.csv')

In [39]:
test = my_preprocessing.preprocess_data(df, cities, districts, city_name="Lublin")

In [5]:
data = my_preprocessing.preprocess_data(df, cities, districts, city_name="Lublin")

c:\Users\pawel\OneDrive\Dokumenty\MAGISTERKA\PROJEKTY\OLX\my_preprocessing.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['build_year_category'] = pd.cut(data['build_year'], bins=bins, labels=labels, right=False)

In [6]:
X_train, X_val, y_train, y_val = my_preprocessing.data_split(data)

In [11]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(random_state = 1)
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['log2', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(3, len(X_train.columns), num = int(len(X_train.columns)/3))]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 10, cv = 3, verbose=2, random_state=42, n_jobs = 5)

In [13]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(random_state = 1)
rf_random = rf.fit(X_train, y_train)

In [16]:
import matplotlib.pyplot as plt

In [20]:
from sklearn.metrics import mean_squared_error
pred = rf_random.predict(X_val)
rmse = mean_squared_error(y_true = y_val, y_pred = pred, squared = False)
rmse

60523.5324711847

In [12]:
rf_random.fit(X_train, y_train)
best_rf = rf_random_hdf.best_estimator_
pred = best_rf.predict(X_val)

Fitting 3 folds for each of 10 candidates, totalling 30 fits

KeyboardInterrupt:

In [17]:
dummy1 = pd.get_dummies(data["is_business"]).drop("0", axis=1).rename({"1": "is_business"}, axis=1)
data = data.drop("is_business", axis=1)
dummy2 = pd.get_dummies(data[["category", "district_name", "rooms_num", "market", "building_type", "floor_no", "building_floors_num", "windows_type"]])
data = pd.concat([data, dummy1, dummy2], axis=1)
data = data.drop(["category", "district_name", "rooms_num", "market", "building_type", "floor_no", "building_floors_num", "windows_type"], axis=1)

In [18]:
data.head()

,is_business,price,m,balcony,basement,garage,separate_kitchen,lift,garden,terrace,two_storey,usable_room,air_conditioning,attic,pool,1800-1900,1901-1945,1946-1989,1990-2000,2001-2011,2011-2021,is_business,category_dom_na_sprzedaz,category_mieszkanie_na_sprzedaz,district_name_Abramowice,district_name_Bazylianówka,district_name_Botanik,district_name_Bronowice,district_name_Centrum,district_name_Choiny,district_name_Czechów,district_name_Czechów Dolny,district_name_Czechów Górny,district_name_Czuby,district_name_Czwartek,district_name_Dzbenin,district_name_Dziesiąta,district_name_Felin,district_name_Głusk,district_name_Hajdów,district_name_Helenów,district_name_Kalinowszczyzna,district_name_Kolonia Sławinek,district_name_Konstantynów,district_name_Kośminek,district_name_LSM,district_name_Lipniak,district_name_Majdan Tatarski,district_name_Majdan Wrotkowski,district_name_Majdanek,district_name_Nowy Kośminek,district_name_Partanina,district_name_Piaski,district_name_Ponikwoda,district_name_Poręba,district_name_Prawiedniki,district_name_Rogatka Warszawska,district_name_Rudnik,district_name_Rury Brygidkowskie,district_name_Rury Jezuickie,district_name_Stare Miasto,district_name_Szerokie,district_name_Sławin,district_name_Sławinek,district_name_Tatary,district_name_Wieniawa,district_name_Wiktoryn,district_name_Wola Sławińska,district_name_Wrotków,district_name_Węglin,district_name_Węglinek,district_name_Zadębie,district_name_Zadębie Pierwsze,district_name_Zemborzyce,district_name_os. Karłowicza,district_name_os. Konopnickiej,district_name_os. Pogodna,district_name_os. Szymanowskiego,district_name_os. Zana,district_name_Śródmieście,rooms_num_1,rooms_num_10,rooms_num_2,rooms_num_3,rooms_num_4,rooms_num_5,rooms_num_6,rooms_num_7,rooms_num_8,rooms_num_9,rooms_num_more,market_primary,market_secondary,building_type_apartment,building_type_block,building_type_detached,building_type_farm,building_type_house,building_type_infill,building_type_residence,building_type_ribbon,building_type_semi_detached,building_type_tenement,floor_no_cellar,floor_no_floor_1,floor_no_floor_10,floor_no_floor_2,floor_no_floor_3,floor_no_floor_4,floor_no_floor_5,floor_no_floor_6,floor_no_floor_7,floor_no_floor_8,floor_no_floor_9,floor_no_floor_higher_10,floor_no_garret,floor_no_ground_floor,building_floors_num_1,building_floors_num_10,building_floors_num_11,building_floors_num_12,building_floors_num_13,building_floors_num_14,building_floors_num_15,building_floors_num_17,building_floors_num_18,building_floors_num_19,building_floors_num_2,building_floors_num_3,building_floors_num_4,building_floors_num_5,building_floors_num_6,building_floors_num_7,building_floors_num_8,building_floors_num_9,windows_type_aluminium,windows_type_plastic,windows_type_wooden
262332,0,342600,57.1,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False
262333,1,432000,84.68,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
262334,1,319000,52,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False
262335,1,229000,30.62,True,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False
262336,1,289000,46,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False

In [15]:
data = df

In [46]:
dummy = pd.get_dummies(data["is_business"]).drop("0", axis=1).rename({"1": "is_business"}, axis=1)

In [47]:
dummy

        is_business
262332        False
262333         True
262334         True
262335         True
262336         True
...             ...
274775         True
274776         True
274777         True
274778         True
274779        False

[11007 rows x 1 columns]

In [16]:
df["is_business"].str.replace("0", "False").str.replace("1", True)

AttributeError: Can only use .str accessor with string values!

In [ ]:
def scaler(X_train, X_test):
    nonnum = X_train[["type_L", "type_M", "type_H"]]
    num = X_train.drop(["type_L", "type_M", "type_H"], axis=1)
    scale = StandardScaler().fit(num)
    X_num = scale.transform(num)
    X_num = pd.DataFrame(X_num, columns = num.columns)
    X_train = pd.concat([nonnum.reset_index(drop = True), X_num], axis=1)
    """
    nonnum = X_test.iloc[:,:14]
    num = X_test.iloc[:,15:]
    """
    nonnum = X_test[["type_L", "type_M", "type_H"]]
    num = X_test.drop(["type_L", "type_M", "type_H"], axis=1)
    X_num = scale.transform(num)
    X_num = pd.DataFrame(X_num, columns = num.columns)
    X_test = pd.concat([nonnum.reset_index(drop = True), X_num], axis=1)
    return X_train, X_test

X_train_preprocessed, X_test_preprocessed = scaler(X_train, X_test)

In [63]:
data["build_year"] = data["build_year"].astype("Int16")
data2 = data.loc[data['build_year'] >= 1800]
bins = [1800, 1945, 1989, 2000, 2011, 2021]
labels = ['1800-1945', '1946-1989', '1990-2000', '2001-2011', '2011-2021']
data2['build_year_category'] = pd.cut(data2['build_year'], bins=bins, labels=labels, right=False)
dummy = pd.get_dummies(data2["build_year_category"])
data2 = pd.concat([data2, dummy], axis=1)
data2["build_year_category"].value_counts()
#data2 = data2.drop(["build_year", "build_year_category"], axis=1)
#data2.head()

C:\Users\pawel\AppData\Local\Temp\ipykernel_18984\911893761.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['build_year_category'] = pd.cut(data2['build_year'], bins=bins, labels=labels, right=False)

build_year_category
2011-2021    44335
1946-1989    31823
2001-2011    26228
1990-2000     7686
1800-1945     6803
Name: count, dtype: int64

In [54]:
data2.head()

,category,is_business,district_id,price,city_name,disctrict_name,lon_y,lat_y,price[currency],m,rooms_num,market,building_type,floor_no,building_floors_num,windows_type,rent[currency],balcony,basement,garage,separate_kitchen,lift,garden,terrace,two_storey,usable_room,air_conditioning,attic,pool,build_year_category
262332,mieszkanie_na_sprzedaz,0,8673,342600,Lublin,Sławinek,22.52226,51.26144,PLN,57.1,3,secondary,block,floor_3,5,plastic,PLN,True,True,True,True,False,False,False,False,False,False,False,False,1990-2000
262333,mieszkanie_na_sprzedaz,1,1180,432000,Lublin,Czuby,22.51856,51.23032,PLN,84.68,4,secondary,block,floor_3,4,NaN,PLN,True,True,False,False,False,False,False,False,False,False,False,False,2001-2011
262334,mieszkanie_na_sprzedaz,1,2339,319000,Lublin,Ponikwoda,22.58862,51.26966,PLN,52,2,secondary,block,floor_2,3,plastic,PLN,True,True,False,False,False,False,False,False,False,False,False,False,2001-2011
262335,mieszkanie_na_sprzedaz,1,621,229000,Lublin,Śródmieście,22.55396,51.25034,PLN,30.62,2,primary,apartment,floor_2,7,plastic,PLN,True,False,True,False,True,False,False,False,False,False,False,False,2011-2021
262336,mieszkanie_na_sprzedaz,1,1491,289000,Lublin,Kalinowszczyzna,22.58832,51.25171,PLN,46,3,secondary,block,floor_4,4,plastic,PLN,False,True,False,False,False,False,False,False,False,False,False,False,1946-1989

In [23]:
data.head()

,category,is_business,district_id,price,city_name,disctrict_name,lon_y,lat_y,price[currency],m,rooms_num,market,building_type,floor_no,building_floors_num,windows_type,build_year,rent[currency],balcony,basement,garage,separate_kitchen,lift,garden,terrace,two_storey,usable_room,air_conditioning,attic,pool
262332,mieszkanie_na_sprzedaz,0,8673,342600,Lublin,Sławinek,22.52226,51.26144,PLN,57.1,3,secondary,block,floor_3,5,plastic,1995,PLN,True,True,True,True,False,False,False,False,False,False,False,False
262333,mieszkanie_na_sprzedaz,1,1180,432000,Lublin,Czuby,22.51856,51.23032,PLN,84.68,4,secondary,block,floor_3,4,NaN,2001,PLN,True,True,False,False,False,False,False,False,False,False,False,False
262334,mieszkanie_na_sprzedaz,1,2339,319000,Lublin,Ponikwoda,22.58862,51.26966,PLN,52,2,secondary,block,floor_2,3,plastic,2008,PLN,True,True,False,False,False,False,False,False,False,False,False,False
262335,mieszkanie_na_sprzedaz,1,621,229000,Lublin,Śródmieście,22.55396,51.25034,PLN,30.62,2,primary,apartment,floor_2,7,plastic,2020,PLN,True,False,True,False,True,False,False,False,False,False,False,False
262336,mieszkanie_na_sprzedaz,1,1491,289000,Lublin,Kalinowszczyzna,22.58832,51.25171,PLN,46,3,secondary,block,floor_4,4,plastic,1979,PLN,False,True,False,False,False,False,False,False,False,False,False,False

In [22]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [33]:
data2 = data.loc[data["build_year"].astype("Int16")>=1900]

In [34]:
data2["build_year"].value_counts()

build_year
2019    1727
2018    1268
2020     814
2017     443
1980     391
1970     242
2012     179
2013     174
2000     171
1978     170
1960     169
2008     161
2010     154
1975     151
2007     150
2011     149
1995     148
1976     147
1990     137
2001     136
1989     130
1985     129
1992     126
2002     125
2004     120
1968     116
1979     115
1965     115
1994     112
2015     108
1986     107
2006     103
2016      99
2009      98
2014      94
1991      89
1998      87
2005      85
1982      84
1996      84
1987      82
2003      78
1974      78
1988      67
1997      67
1971      66
1981      65
1993      63
1984      61
1950      60
1967      59
1999      58
1973      58
1983      58
1972      50
1969      49
1964      49
1966      46
1958      45
1977      43
1961      42
1957      42
1930      40
1956      36
1955      30
1959      29
1900      28
1910      26
1963      25
1938      24
1914      20
1905      19
1962      19
1939      17
1935      16
1908      15
1936      14
1920      13
1953      10
2021      10
1940       9
1937       9
1929       8
1928       8
1934       7
1952       7
1912       7
1954       6
1951       5
1921       5
1949       5
1947       5
1915       4
1904       4
1924       3
1911       3
1918       3
1926       3
1906       3
1917       2
1916       2
1919       2
1923       2
1925       2
1946       2
1927       1
1913       1
1933       1
1932       1
1944       1
1903       1
1907       1
Name: count, dtype: int64

In [24]:
data["build_year"].value_counts()

build_year
2019    1727
2018    1268
2020     814
2017     443
1980     391
1970     242
2012     179
2013     174
2000     171
1978     170
1960     169
2008     161
2010     154
1975     151
2007     150
2011     149
1995     148
1976     147
1990     137
2001     136
1989     130
1985     129
1992     126
2002     125
2004     120
1968     116
1979     115
1965     115
1994     112
2015     108
1986     107
2006     103
2016      99
2009      98
2014      94
1991      89
1998      87
2005      85
1982      84
1996      84
1987      82
2003      78
1974      78
1997      67
1988      67
1971      66
1981      65
1993      63
1984      61
1950      60
1967      59
1983      58
1999      58
1973      58
1972      50
1969      49
1964      49
1966      46
1958      45
1977      43
1961      42
1957      42
1930      40
1956      36
1955      30
1959      29
1900      28
1910      26
1963      25
1938      24
1914      20
1962      19
1905      19
1939      17
1935      16
1908      15
1936      14
1920      13
2021      10
1953      10
1940       9
1937       9
1929       8
1928       8
1952       7
1912       7
1934       7
1846       6
1954       6
1951       5
1921       5
1949       5
1947       5
1890       4
1904       4
1690       4
1915       4
1918       3
1924       3
1911       3
1906       3
1926       3
1898       2
1925       2
1916       2
1917       2
1919       2
1923       2
4          2
1896       2
1886       2
1946       2
1876       1
1065       1
1535       1
1907       1
215        1
196        1
1933       1
2          1
1895       1
1927       1
1932       1
34         1
1903       1
1884       1
1793       1
1913       1
1944       1
185        1
1800       1
210        1
Name: count, dtype: int64

In [20]:
category = pd.get_dummies(data[["category", "is_business"]])

In [21]:
category

        is_business  category_dom_na_sprzedaz  category_mieszkanie_na_sprzedaz
262332            0                     False                             True
262333            1                     False                             True
262334            1                     False                             True
262335            1                     False                             True
262336            1                     False                             True
...             ...                       ...                              ...
274775            1                     False                             True
274776            1                     False                             True
274777            1                     False                             True
274778            1                     False                             True
274779            0                     False                             True

[12448 rows x 3 columns]

In [11]:
data["category"] = data["category"].str.replace(' ','_').str.lower().str.replace('ż', 'z')

In [7]:
data2 = my_preprocessing.merge_drop_rename(df, cities, districts)

In [9]:
parsed_data = data2['params'].apply(my_preprocessing.parse_values).apply(pd.Series)

In [10]:
parsed_data.isna().sum()/len(parsed_data)*100

price[currency]          0.000000
m                        0.000000
rooms_num                0.032211
market                   0.000721
building_type           19.823296
floor_no                23.817474
building_floors_num     28.197103
building_material       51.112185
windows_type            34.421780
heating                 51.437421
build_year              31.971572
construction_status     42.235980
rent                    67.173751
rent[currency]          12.389620
building_ownership      49.174470
free_from               84.517993
media_types             35.018407
security_types          49.056924
equipment_types         68.683707
extras_types            12.552598
terrain_area            79.446305
floors_num              83.127146
garret_type             93.364871
roof_type               91.800349
roofing                 88.887407
location                93.335184
recreational            91.297471
fence_types             88.430321
heating_types           86.151385
access_types            84.950199
vicinity_types          91.141463
is_bungalow             78.704008
use_types               99.999519
type                    99.999519
dimensions              99.999880
fence                   99.999519
deposit                100.000000
deposit[currency]       99.999760
rent_to_students        99.999760
dtype: float64

In [7]:
data["terrace"].value_counts()

terrace
True    11410
Name: count, dtype: int64

In [7]:
parsed_data.head()

,price[currency],m,rooms_num,market,building_type,floor_no,building_floors_num,windows_type,build_year,rent[currency],extras_types
262332,PLN,57.1,3,secondary,block,floor_3,5,plastic,1995,PLN,balcony<->basement<->garage<->separate_kitchen
262333,PLN,84.68,4,secondary,block,floor_3,4,NaN,2001,PLN,balcony<->basement
262334,PLN,52,2,secondary,block,floor_2,3,plastic,2008,PLN,balcony<->basement
262335,PLN,30.62,2,primary,apartment,floor_2,7,plastic,2020,PLN,balcony<->garage<->lift
262336,PLN,46,3,secondary,block,floor_4,4,plastic,1979,PLN,basement

In [11]:
data = data.drop("params", axis=1)
data2 = pd.concat([data, parsed_data], axis=1)

In [12]:
data2.head()

,category,is_business,district_id,city_id,price,city_name,disctrict_name,lon_y,lat_y,price[currency],m,rooms_num,market,building_type,floor_no,building_floors_num,windows_type,build_year,rent[currency],extras_types
262332,Mieszkanie na sprzedaż,0,8673,190,342600,Lublin,Sławinek,22.52226,51.26144,PLN,57.1,3,secondary,block,floor_3,5,plastic,1995,PLN,balcony<->basement<->garage<->separate_kitchen
262333,Mieszkanie na sprzedaż,1,1180,190,432000,Lublin,Czuby,22.51856,51.23032,PLN,84.68,4,secondary,block,floor_3,4,NaN,2001,PLN,balcony<->basement
262334,Mieszkanie na sprzedaż,1,2339,190,319000,Lublin,Ponikwoda,22.58862,51.26966,PLN,52,2,secondary,block,floor_2,3,plastic,2008,PLN,balcony<->basement
262335,Mieszkanie na sprzedaż,1,621,190,229000,Lublin,Śródmieście,22.55396,51.25034,PLN,30.62,2,primary,apartment,floor_2,7,plastic,2020,PLN,balcony<->garage<->lift
262336,Mieszkanie na sprzedaż,1,1491,190,289000,Lublin,Kalinowszczyzna,22.58832,51.25171,PLN,46,3,secondary,block,floor_4,4,plastic,1979,PLN,basement

In [8]:
data2.head()

NameError: name 'data2' is not defined

In [30]:
data["extras_types"].split("<->")

AttributeError: 'Series' object has no attribute 'split'

In [51]:
def parse_extras(row):
    row = str(row)
    pairs = row.split('<->')
    values = {}
    for pair in pairs:
        if pair.strip() != '' and pair.strip() != 'nan' and pair.strip() != "0":
            col = pair
            val = pair
        else:
            col = "trash"
            val = np.nan
        values[col] = val
    return pd.Series(values)

extras = data['extras_types'].apply(parse_extras).apply(pd.Series)
extras = extras.drop("trash", axis=1)

In [ ]:
    if col.strip() == '' or col.strip().lower() == 'nan':

In [7]:
df = data.dropna(subset=["district_name", "rooms_num"])

In [12]:
df.head()

,category,is_business,price,city_name,district_name,m,rooms_num,market,building_type,floor_no,...,usable_room,air_conditioning,attic,pool,1800-1900,1901-1945,1946-1989,1990-2000,2001-2011,2011-2021
262332,mieszkanie_na_sprzedaz,0,342600,Lublin,Sławinek,57.1,3,secondary,block,floor_3,...,False,False,False,False,False,False,False,True,False,False
262333,mieszkanie_na_sprzedaz,1,432000,Lublin,Czuby,84.68,4,secondary,block,floor_3,...,False,False,False,False,False,False,False,False,True,False
262334,mieszkanie_na_sprzedaz,1,319000,Lublin,Ponikwoda,52,2,secondary,block,floor_2,...,False,False,False,False,False,False,False,False,True,False
262335,mieszkanie_na_sprzedaz,1,229000,Lublin,Śródmieście,30.62,2,primary,apartment,floor_2,...,False,False,False,False,False,False,False,False,False,True
262336,mieszkanie_na_sprzedaz,1,289000,Lublin,Kalinowszczyzna,46,3,secondary,block,floor_4,...,False,False,False,False,False,False,True,False,False,False

In [10]:
df.isna().sum()/len(df)*100, len(df)

(category                0.000000
 is_business             0.000000
 price                   0.000000
 city_name               0.000000
 district_name           0.000000
 m                       0.000000
 rooms_num               0.000000
 market                  0.000000
 building_type          29.063992
 floor_no               10.735435
 building_floors_num    10.983763
 windows_type           12.722063
 balcony                 0.000000
 basement                0.000000
 garage                  0.000000
 separate_kitchen        0.000000
 lift                    0.000000
 garden                  0.000000
 terrace                 0.000000
 two_storey              0.000000
 usable_room             0.000000
 air_conditioning        0.000000
 attic                   0.000000
 pool                    0.000000
 1800-1900               0.000000
 1901-1945               0.000000
 1946-1989               0.000000
 1990-2000               0.000000
 2001-2011               0.000000
 2011-2021               0.000000
 dtype: float64,
 10470)

In [11]:
data.isna().sum()/len(data)*100, len(data)

(category                0.000000
 is_business             0.000000
 price                   0.000000
 city_name               0.000000
 district_name           4.860543
 m                       0.000000
 rooms_num               0.018170
 market                  0.000000
 building_type          28.618152
 floor_no               12.164986
 building_floors_num    12.519306
 windows_type           12.900881
 balcony                 0.000000
 basement                0.000000
 garage                  0.000000
 separate_kitchen        0.000000
 lift                    0.000000
 garden                  0.000000
 terrace                 0.000000
 two_storey              0.000000
 usable_room             0.000000
 air_conditioning        0.000000
 attic                   0.000000
 pool                    0.000000
 1800-1900               0.000000
 1901-1945               0.000000
 1946-1989               0.000000
 1990-2000               0.000000
 2001-2011               0.000000
 2011-2021               0.000000
 dtype: float64,
 11007)

In [13]:
data = pd.merge(df, cities, left_on="city_id", right_on="id")
data = data.drop("id_y", axis=1)
districts = districts.rename(columns={"id": "district_id"})
data = pd.merge(data, districts, on="district_id", how="left")
data = data.drop(columns = {"Unnamed: 0", "id_x", "created_at_first", "region_id", "lon_x", "lat_x"})
data = data.rename(columns = {"name_pl_x": "city_name", "name_pl_y": "disctrict_name"})